h1{
  color: red;
}

.page-number{
position: absolute;
bottom: -25px;
right: 10px;
Font-size: 3vw;
color: red;
font-weight: 900;
}

.slide-container {
  position: relative; /* Enables positioning of elements within this container */
  max-width: 1200px; /* Matches the width of the slide-image */
  margin: 0; /* Centers the container */
}


.slide-image {
  border-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
